{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/typescript"],
  "plugins": [
    "jsx-control-statements",
    "react-hot-loader/babel",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
